.table-responsive {
    display: table;
    align-content: center;
}

body{
    background: url("../../../img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

table.table-bordered{
    border:2px solid black;
}
table.table-bordered > thead > tr > th{
    border:2px solid black;
}
table.table-bordered > tbody > tr > td{
    border:2px solid black;
}

@media (max-width:360px) {
    .table-condensed{
        font-size: 10px;
    }
}

@media (max-width: 767px) {
    .table-condensed{
        font-size: 14px;
    }
}
h5{
    font-size: x-large;
    font-weight: bold;
    color: #4273cc;
    align-items: center;
}