.table-responsive {
    display: table;
    align-content: center;
}

@media (max-width:360px) {
    .table-condensed{
        font-size: 10px;
    }
}

@media (max-width: 767px) {
    .table-condensed{
        font-size: 14px;
    }
}
h5{
    font-size: x-large;
    font-weight: bold;
    color: #4273cc;
    align-items: center;
}