
th {
    white-space: nowrap;
}
table.table-bordered{
    border:2px solid black;
}
table.table-bordered > thead > tr > th{
    border:2px solid black;
}
table.table-bordered > tbody > tr > td{
    border:2px solid black;
}

.table-responsive {
    display: table;
    align-content: center;
    border-collapse: collapse;
}

#dishesTable{
    font-size: xx-small !important;
}
h3{
    font-size: x-large;
    font-weight: bold;
    color: #4273cc;
    align-items: center;
}
body{
    background: url("../../../img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}