
th {
    white-space: nowrap;
}

.table-responsive {
    display: table;
    align-content: center;
}

#dishesTable{
    font-size: xx-small !important;
}
h3{
    font-size: x-large;
    font-weight: bold;
    color: #4273cc;
    align-items: center;
}
